/* body = sélecteur (type élément) */
body {
    font-family: Arial, Helvetica, sans-serif; /* indique la police de caractères (font) */
    color:dimgrey; /* Couleur du texte */
    font-size: 16px; /* Taille de la font */
}

h1 {
    color: red;
}

p {
    color: cadetblue;
}

nav {
    background-color: cornflowerblue;

}
/* Sélecteur multiple : les liste (ul) situées dans une nav*/
nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

/* Sélecteur multiple : les liens (a) situés dans une nav*/
nav a {
    text-decoration: none;
    color: white;
}



/* .gras = sélecteur (type class) */
.gras {
    font-weight: bold;
}

.barre {
    text-decoration: line-through;
}

.souligne {
    text-decoration: underline;
}

.italique {
    font-style: italic;
}

.rouge {
    color: red;
}

.bordure {
    border: solid 0px red;
}

/* #paragraphe2 = sélecteur (type id) */
#paragraphe2 {
    font-size: 20px;
    letter-spacing: 3px;
}